@model eproject2.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Upload Profile Image";
}

<h2>Upload Profile Image</h2>

<form asp-action="ImageInsert" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ProfileImage">Select Image</label>
        <input type="file" asp-for="ProfileImage" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Upload</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
